@keyframes blink {
  0% {
    background-color: #d6dbdf;
  }
  50% {
    background-color: #d6dbdfaa;
  }
  100% {
    background-color: #d6dbdf;
  }
}

* + .article-loader {
  margin-top: 4em;
}

.article-loader * {
  border-radius: 4px;
  transition: all 1.5s ease-in-out;
  animation: blink normal 1.5s infinite ease-in-out;
}

.article-loader * + * {
  margin-top: 1em;
}

.article-image-loader {
  padding-top: 56.25%; /* 16:9 ratio */
}

.article-title-loader {
  width: 80%;
  height: 2em;
}

.article-text-loader {
  height: 2.5em;
}

.article-meta-loader {
  height: 2em;
  width: 180px;
}
