@import '../../../node_modules/normalize.css/normalize.css';

body {
  background-color: #ecf0f1;
}

.app {
  font-family: Helvetica, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5em;
}

.title {
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 0.5em;
  margin-top: 1em;
  color: #17202a;
}

::selection {
  color: #17202a;
  background: rgba(132, 141, 148, 0.897);
  text-shadow: none;
}

.credits {
  padding-top: 2em;
}

.credits + .credits {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.credits:last-child {
  padding-bottom: 1em;
}

.credits > * + * {
  margin-left: 1em;
}

.app-name {
  color: #000;
  font-size: 1em;
  font-weight: 700;
}

.author {
  color: rgb(133, 133, 133);
  font-size: 0.8em;
}

.attribution-link {
  color: rgb(29, 145, 223);
  text-decoration: none;
}
a {
  text-decoration: none;
}
